*{
  margin:0;
  box-sizing:border-box;
}

html{
  width:100vw;
  min-height:100vh;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background: #000;
  color:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}
h1{
  position:absolute;
  top:0;
  left:0;
  margin:10px 0 40px 0;
  width:100%;
  text-align:center;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #000;
  color:#fff;
  border: 2px solid yellow;
  float: left;
  font-size: 2rem;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  user-select: none;
}

.board-row:first-child .square{
  border-top:0;
}

.board-row:last-child .square{
  border-bottom:0;
}

.board-row .square:first-child{
  border-left:0;
}

.board-row .square:last-child{
  border-right:0;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content:center;
  align-items:flex-start;
  flex-wrap:wrap;
  width:100%;
  /*max-width:500px;*/
  min-height:400px;
}

.game-board{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  min-width:400px;
}

.game-info {
  margin-left: 20px;
  overflow:auto;
  min-width:300px;
  min-height:180px;
}

.game-status{
  margin:0 5px 10px 10px;
  font-size:1.5rem;
}

.showHistory{
  display:block;
}

.hideHistory{
  display:none;
}

.showHistoryBtn{
  display:block;
  margin:50px 0 10px 30px;
  width:120px;
  height:30px;
  cursor:pointer;
}

.activeHistoryBtn{
  width:130px;
  height:30px;
  font-weight:bold;
}

.game-control-btn{
  display:flex;
  margin:30px 0 0 0;
}

.changeModeBtn,
.replayBtn{
  width:120px;
  height:40px;
  border:1px solid #fff;
  border-radius:5px;
  outline:none;
  cursor:pointer;
  font-size:1rem;
}

.changeModeBtn{
  background-color: #d2d3c9;
}

.replayBtn{
  margin-right:20px;
  background-color: #2af;
}

@media screen and (max-width:640px){
  .game{
    padding-left:0;
  }

  .game-board{
    margin-top:100px;
  }

  .game-info{
    margin-top:20px;
    margin-left: 0;
  }
}

/*Media Query: landscape Mode*/

@media screen and (max-height:500px){
  h1{
    top:0;
  }

  .game-board,
  .game-info{
    margin-top:80px;
  }
}